* {
    text-align: center;
}
table {
    width:100%;
    padding: 5px;
}
table , tr, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th ,td {
    padding: 10px;
    margin:5px;
}
#frow {
    color: #fff;
    background-color: rgb(65, 122, 213);
}
.team ~ td {
    background-color: rgba(100, 148, 237, 0.341);
}
a,
#note {
    font-style: italic;
    color:#ababab;
}