img {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px #123;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

a {
    text-decoration: none;
    color: #1f64db;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    font-style: italic;
    box-shadow: 0px 0 4px #123;
    padding: 10px;
    position: fixed;
    bottom: 10%;
}